@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Functions</p>
<ol>
    <li>Upload Blob with AAD auth</li>
    <li>Generate User delegated SAS</li>
</ol>
