@{
    ViewData["Title"] = "Blob";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div id="upload-file">
    <label class="btn btn-default">
        Browse <input type="file" id="uploadFile">
    </label>
    <button type="button" id="uploadButton" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
    </button>
</div>

<h4 id="uploadLabel"></h3>
@* SAS link *@
<h3>Generate link for share (SAS)</h3>
<button type="button" id="generateLinkButton" class="btn btn-default" aria-label="Left Align">
            Generate Link&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
</button>
<h4 id="SASLabel"></h3>
<a id="SASLink" href=""></a>

@section scripts {
    <script type="text/javascript">
    var baseFileName = "test.html"
    $(function () {
        $('#uploadButton').click(function (){
            var formData = new FormData();
            formData.append('file', $('#uploadFile')[0].files[0]);;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("BlobUpload", "Home")',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    console.log(result),
                    baseFileName = result.filename,
                    $('#uploadLabel').text("File Uploaded: " + result.filename),
                    $('#uploadFile').val('')
                },
                error: function () {
                    alert ("Error in ajax"),
                    $('#uploadFile').val('')
                }

            })
        })

    })

    $(function () {
        $('#generateLinkButton').click(function (){
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSAS", "Home")',
                data: { "filename": baseFileName},
                success: function (result) {
                    console.log(result),
                    $('#SASLabel').text("Link Generated")
                    $('#SASLink').text(result.uri),
                    $('#SASLink').attr("href", result.uri)
                },
                error: function () {
                    alert ("Error in ajax")
                }

            })
        })

    })
    </script>
}

@* <address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address> *@